<nav class="navbar navbar-inverse">
  <p class="navbar-text">My Bootstrap Site</p>
  <p class="navbar-text">Joe Example</p>
</nav>
<br>
<div class="alert alert-success" role="alert">This is some alert message</div>

<div class="page-header">
  <h1>A Subtitle <small></small></h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Shoes</a></li>
  <li><a href="#">Catagories</a></li>
  <li class="active">Loafers</li>
</ol>
