<nav class="navbar navbar-inverse">
  <p class="navbar-text">My Bootstrap Site</p>
  <p class="navbar-text">Joe Example</p>
</nav>
<br>
<div class="alert alert-success" role="alert">This is some alert message</div>
